.env
data/raw/*
# data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
__pycache__/
*.pyc
.venv/
venv/
*.log
.DS_Store

# Pyvis artifacts
graph.html
lib/
task.txt

# Streamlit Cloud secrets (не коммитить!)
.streamlit/secrets.toml
